html {
  direction: rtl;
}
.single .ps-navigation .prev i {
  margin-right: 0;
  transform: rotate(180deg);
}
.wpcf7-form {
  direction: rtl;
}
body {
  direction: rtl;
  unicode-bidi: embed;
  text-align: right;
}
body.rtl ul,
body.rtl ol,
body.rtl ol ol,
body.rtl ol ul,
body.rtl ul ol,
body.rtl ul ul {
  margin: 0 3em 1.5em 0em;
}
body.rtl #content {
  text-align: right;
}
body.rtl .club-sidebar-top .club-logo {
  text-align: right;
}
body.rtl ul.back-check-list li {
  padding-right: 56px;
  padding-left: 0;
}
body.rtl ul.back-check-list li::before {
  right: 0;
  left: auto;
}
body.rtl.single-post .single-posts-meta li:first-child {
  padding-right: 0;
}
body.rtl .widget_back_followers_socia_widget ul.followus_share li a .number {
  margin-right: 10px;
  margin-left: 0;
}
body.rtl .widget_back_followers_socia_widget ul.followus_share li a {
  text-align: right;
}
body.rtl .bs-sidebar .widget_block h2::before,
body.rtl .bs-sidebar label.wp-block-search__label::before,
body.rtl .bs-sidebar .widget-title::before {
  right: 100%;
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
body.rtl .bs-sidebar .widget_block h2::after,
body.rtl .bs-sidebar label.wp-block-search__label::after,
body.rtl .bs-sidebar .widget-title::after {
  right: 100%;
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
body.rtl #back-header .back-toolbar-area .toolbar-contact ul li {
  border-right: 0;
  padding-left: 20px;
  padding-right: 0;
  border-left: 1px solid #408ff0;
}
body.rtl #back-header .back-toolbar-area .opening {
  border-left: 1px solid #408ff0;
  border-right: 0;
}
body.rtl #back-header .back-toolbar-area .toolbar-contact ul li:last-child {
  border: none;
}
body.rtl .bs-sidebar .widget.widget_archive ul li {
  padding: 0 20px 8px 0;
}
body.rtl ul.unorder-list li::before {
  right: 0;
  left: auto;
  transform: rotate(190deg);
}
body.rtl.single-post .back-blog-details .single-content-full ul.unorder-list {
  margin-right: 0;
}
body.rtl.single-post .single-posts-meta li span i {
  margin-left: 5px;
  margin-right: 0;
}
body.rtl .single-posts-meta .tag-line i {
  margin-left: 3px;
  margin-right: 0;
}
body.rtl ul.unorder-list li {
  padding-left: 0;
  padding-right: 25px;
}
body.rtl .bs-search button i::before {
  margin-left: 0;
}
body.rtl .back-blog .blog-item .blog-meta .blog-date i {
  margin-left: 5px;
  margin-right: 0;
}
body.rtl .full-blog-content .author i {
  margin-right: 0;
  margin-left: 5px;
}
body.rtl .full-blog-content .btm-cate .tag-line i {
  margin-left: 5px;
  margin-right: 0;
}
body.rtl .bs-sidebar .recent-post-widget .post-desc span i {
  margin-left: 5px;
  margin-right: 0;
}
body.rtl.single .ps-navigation .prev i {
  margin-right: 10px;
  margin-left: 0;
}
body.rtl.single .ps-navigation .next {
  width: auto;
}
body.rtl blockquote::before {
  left: auto;
  right: 0;
}
body.rtl .footer-0 {
  padding-left: 50px;
  padding-right: 0;
}
body.rtl .elementor-widget-back-dual-button .rselement-dual-btn-connector {
  right: auto;
}
body.rtl .back-testimonial .testimonial-item .testimonial-information {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
}
body.rtl .bs-sidebar .widget_categories ul,
body.rtl .bs-sidebar .widget_recent_entries ul,
body.rtl .bs-sidebar .widget_archive ul,
body.rtl .bs-sidebar .widget_meta ul {
  margin-right: 0;
}
body.rtl .dynamic-sidebar {
  padding: 0px 20px 20px 0;
}
body.rtl .bs-sidebar ul {
  margin-right: 0 !important;
}
body.rtl .back-skill-bar.style1 .skillbar .skill-bar-percent {
  right: auto;
  left: 0;
}
body.rtl .back-video .popup-videos i {
  text-indent: -5px;
}
body.rtl ul.stylelisting li:before {
  right: 0;
  left: inherit;
}
body.rtl ul.stylelisting li {
  padding-left: 0 !important;
  padding-right: 30px;
}
body.rtl .back-blog-grid .back-blog-item .back-blog-content .blog-btn-part .blog-btn {
  display: flex;
}
body.rtl .back-heading .title-inner .title::before {
  left: 0;
  right: 100%;
  margin-right: 30px;
  margin-left: 0px;
}
body.rtl .back-heading .title-inner .title::after {
  left: 0;
  right: 100%;
  margin-right: 30px;
  margin-left: 0px;
}
body.rtl .back-contact .contact-address .address-item .address-icon {
  float: right;
}
body.rtl .back-footer ul {
  margin: 0;
  padding-right: 0px;
}
body.rtl .has-date-sec li:after,
body.rtl .back-blog-grid.back-blog .style2 .meta-class-grid li:after {
  left: -14px;
  right: auto;
}
body.rtl .back-footer .copyright.text-left {
  text-align: right !important;
  text-align: unset !important;
}
body.rtl .back-blog-grid.back-blog .style2 .meta-class-grid li {
  margin-right: 0;
  margin-left: 20px;
}
body.rtl .back-practice-areas li {
  padding-left: 0;
  padding-right: 35px;
}
body.rtl .back-practice-areas li:before {
  right: 0;
  position: absolute;
  left: auto;
}
body.rtl .back-breadcrumbs .breadcrumbs-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
body.rtl .back-breadcrumbs .breadcrumbs span,
body.rtl .back-breadcrumbs .breadcrumbs-title span {
  padding-right: 0;
  padding-left: 30px;
}
body.rtl .back-breadcrumbs .breadcrumbs span a:before,
body.rtl .back-breadcrumbs .breadcrumbs-title span a:before {
  left: 0;
  right: auto;
  top: 7px;
  padding: 0;
  transform: rotate(180deg);
}
body.rtl .back-breadcrumbs .breadcrumbs span:last-child,
body.rtl .back-breadcrumbs .breadcrumbs-title span:last-child {
  padding-left: 0;
  padding-right: 15px;
}
body.rtl .sidenav .fa-ul {
  text-align: right;
  margin-right: 0;
}
body.rtl .sidenav .fa-ul li.address1 i {
  left: auto;
  right: 0;
}
body.rtl .sidenav .fa-ul li i {
  padding-left: 15px;
  padding-right: 0;
}
body.rtl .back-services-bg-style .services-item .services-icon i {
  margin-right: 0;
  margin-left: 12px;
}
body.rtl .slidertestimonials.slick-slide {
  float: left;
}
body.rtl .back-menu-wrap-offcanvas .inner-offcan .nav-link-container {
  left: 25px;
  right: auto;
}
body.rtl .thums-sicks.slick-slide {
  float: left;
}
body.rtl .back-menu-wrap-offcanvas {
  left: 0;
  right: auto;
  -webkit-transform: translate3d(-520px, 0, 0);
  transform: translate3d(-520px, 0, 0);
}
body.rtl .back-menu-wrap-offcanvas.back-offcanvas-open {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
body.rtl .back-menu-wrap-offcanvas .offcanvas_social {
  text-align: right;
  margin-right: 0;
}
body.rtl .back-menu-wrap-offcanvas .offcanvas_social li a {
  margin-right: 0;
  margin-left: 12px;
}
body.rtl .back-menu-wrap-offcanvas .widget-title {
  text-align: right;
}
body.rtl .back-menu-wrap-offcanvas .widget-title:before {
  right: 0;
  left: auto;
}
body.rtl .back-menu-wrap-offcanvas .widget_nav_menu ul li {
  text-align: right;
}
body.rtl .back-menu-wrap-offcanvas .widget_media_image {
  text-align: right;
}
body.rtl .back-footer .fa-ul li {
  padding-left: 0;
  padding-right: 30px;
}
body.rtl .show-featured .post-img {
  float: right;
  padding-right: 0;
  padding-left: 15px;
}
body.rtl .back-blog-grid.back-blog .style3 .bottom-shadow1.blog3-details {
  text-align: right;
}
body.rtl .back-footer .back-footer-top .mc4wp-form-fields i {
  left: 25px;
  right: auto;
}
body.rtl .back-footer .fa-ul li i {
  right: -24px;
  left: auto;
  padding-right: 30px;
  padding-left: 0;
  position: absolute;
}
body.rtl ul.offcanvas-icon {
  margin: 0 !important;
}
body.rtl ul.offcanvas-icon .nav-link-container a {
  margin-right: 0;
  margin-left: 0;
}
body.rtl .wpcf7 input[type="url"],
body.rtl .wpcf7 input[type="email"],
body.rtl .wpcf7 input[type="tel"] {
  direction: rtl;
}
body.rtl .menu-area .navbar ul li ul.sub-menu li a {
  margin: 0;
}
body.rtl #back-header.header-style5 .back-toolbar-area .opening {
  border-color: #39424d !important;
}
body.rtl #back-header.header-style5 ul.offcanvas-icon .nav-link-container {
  margin-left: 0;
}
body.rtl .footer-subscribe input[type="email"] {
  max-width: 100%;
  padding-right: 22px;
  padding-left: 130px;
}
body.rtl .footer-subscribe .paper-plane:before {
  left: 40px;
  right: auto;
}
body.rtl .footer-subscribe input[type="submit"] {
  left: 15px;
  right: auto;
}
body.rtl #back-header.header-style5 .back-toolbar-area .toolbar-contact ul li {
  border-color: #39424d !important;
}
body.rtl #back-header.header-style-3 .back-contact-location i.phone-icon {
  margin-left: 15px;
  margin-right: 0;
}
body.rtl .back-features-list-content li,
body.rtl .back-features-list-content ul {
  margin-right: 0 !important;
}
body.rtl .back-features-list-content li i {
  margin-left: 10px;
  margin-right: 0;
}
body.rtl .sticky_form_full button i:before {
  margin-left: 0;
}
body.rtl .sticky_form .close-search {
  left: 50px;
  right: auto;
}
body.rtl ul.footer_social li {
  text-align: center !important;
}
body.rtl .back-footer .back-footer-top h4.footer-title:after {
  right: 0;
  left: auto;
}
body.rtl .back-footer .back-footer-top h4.footer-title {
  padding-left: 0;
  padding-right: 18px;
}
body.rtl .back-heading.style2.text-center .title-inner {
  text-align: center;
}
body.rtl .back-btn.btn-left {
  text-align: right;
}
body.rtl .breaking-news .blog-item .blog-title {
  padding-top: 0;
}
body.rtl .breaking-news {
  text-align: right;
}
body.rtl .back-playeback-slider.playeback-style2 .person-details .squad-numbers {
  float: right;
}
body.rtl .owl-carousel,
body.rtl .slick-slider,
body.rtl .bx-wrapper {
  direction: ltr;
}
body.rtl .owl-carousel .owl-item,
body.rtl .slick-slide {
  direction: rtl;
}
body.rtl #back-header .back-menu-responsive .back-sidebarmenu-search-here,
body.rtl #back-header .back-menu-responsive .sidebarmenu-area.off-border-left {
  float: left;
}
body.rtl .breaking-news .blog-carousel {
  width: 60%;
}
body.rtl .team-info h3,
body.rtl .career-info h3 {
  text-align: right;
}
body.rtl .team-info table,
body.rtl .career-info table {
  text-align: right;
}
body.rtl .back-team-grid.team-style5 .team-item .normal-text .squad-numbers {
  float: right;
}
body.rtl .back-footer .fa-ul li i::before {
  top: -3px;
}
body.rtl .back-unique-slider .blog-content .author-avatar img {
  margin-left: 8px;
  margin-right: 0;
}
body.rtl .back-unique-slider .blog-content .blog-footer .blog-meta i {
  margin-left: 5px;
  margin-right: 0;
}
body.rtl .back-unique-slider .blog-content .post-categories {
  margin-right: 0;
}
body.rtl .back-footer .recent-post-widget .show-featured .post-desc i {
  margin-left: 5px;
  margin-right: 0;
}
body.rtl .back-playeback-slider.playeback-style2.overlay-arrow .owl-carousel .owl-nav {
  width: 123px;
  position: absolute;
  left: 0;
}
body.rtl .back-playeback-slider.playeback-style2.overlay-arrow .person-details .player-title {
  padding-left: 86px;
}
body.rtl #back-header .back-menu-responsive .back-sidebarmenu-search-here {
  padding-left: 0px;
  padding-right: 25px;
}
body.rtl #back-header .back-menu-responsive .back-sidebarmenu-search-here .sticky_form {
  left: 0;
  right: auto;
}
body.rtl .menu-area .navbar {
  float: left;
  margin-left: 30px;
}
body.rtl .back-heading.text-center .title-inner .title {
  text-align: center;
}
body.rtl .club-details_data .squad-list-item .jersy {
  left: 20px;
  right: auto;
}
body.rtl .breaking-news#breaking-news .owl-nav .owl-prev {
  left: 16px;
  right: auto;
}
body.rtl .breaking-news#breaking-news .owl-nav .owl-next {
  left: 0;
  right: auto;
}
body.rtl .breaking-news#breaking-news .blog-item {
  text-align: right;
}
body.rtl .readon:before {
  right: auto;
  left: 25px;
  transform: rotate(180deg);
}
body.rtl #back-header .back-toolbar-area .toolbar-sl-share ul li.back-follow {
  padding-left: 72px;
  margin-left: 20px;
  margin-right: 0;
  padding-right: 0;
}
body.rtl #back-header .back-toolbar-area .toolbar-sl-share ul li.back-follow::before {
  left: 0;
  right: auto;
}
body.rtl #back-header .back-toolbar-area .toolbar-sl-share ul li.back-follow::after {
  left: 20px;
  right: auto;
}
body.rtl #back-header .back-toolbar-area .back-ticker div.widget-title {
  margin-left: 14px;
  padding-left: 10px;
  margin-right: 0;
  padding-right: 0;
}
body.rtl #back-header .back-toolbar-area .back-ticker div.widget-title::after {
  border-right: 0;
  right: 0;
  border-left: 1px solid #f9f9f9;
  left: 1px;
}
body.rtl #back-header .back-toolbar-area .toolbar-sl-share ul {
  text-align: left;
}
body.rtl #back-header .back-toolbar-area .toolbar-sl-share ul li:last-child {
  margin-left: 0px;
}
body.rtl #back-header .back-toolbar-area .toolbar-contact ul {
  text-align: right;
}
body.rtl #back-header .back-toolbar-area .toolbar-contact ul li {
  margin-right: 0;
  margin-left: 25px;
}
body.rtl #back-header .back-toolbar-area .toolbar-contact ul li i {
  margin: 0 0 0 8px;
}
body.rtl #back-header .back-toolbar-area .toolbar-contact ul li:first-child i {
  float: right;
  margin: 1px 0 0 12px;
}
body.rtl #back-header .logo-area {
  float: right;
}
body.rtl #back-header.style1 .menu-area .back-menu-responsive {
  text-align: left;
}
body.rtl #back-header.style1 .has-quote-text .get-quote {
  margin: 0;
}
body.rtl #back-header.style1 .sticky_form {
  left: 0;
  right: auto;
}
body.rtl #back-header.style1 .sticky_form .bs-search button {
  left: 0;
  right: auto;
}
body.rtl .menu-area .navbar ul li ul.sub-menu li {
  text-align: right;
}
body.rtl .back-latest-news {
  text-align: right;
}
body.rtl .back-latest-news .news-list-item .news-img {
  padding-left: 0;
  padding-right: 0;
}
body.rtl .footer-sponsor .offset-md-2 {
  margin-left: 0;
}
body.rtl .footer-sponsor .col-lg-8 {
  margin: 0 auto;
}
body.rtl #cl-testimonial .testimonial-slide3.slider3 .testimonial-content .author-image {
  margin-right: 0;
}
body.rtl .menu-area .navbar ul li.left .sub-menu li .sub-menu {
  right: -100% !important;
}
body.rtl #back-acheivements.back-acheivements4.icon-left .back-counter-list .count-icon {
  margin-left: 25px;
  margin-right: 0;
}
body.rtl #back-footer .widget {
  text-align: right;
}
body.rtl #back-footer .widget p {
  text-align: right;
}
body.rtl .copyright-widget .widget {
  text-align: left !important;
}
body.rtl #back-footer .back-footer-top h3.footer-title::after {
  right: 0;
  left: auto;
}
body.rtl #back-footer .back-footer-top .mc4wp-form-fields input[type="email"] {
  padding: 12px 16px 12px 16px;
}
body.rtl #back-footer .back-footer-top .mc4wp-form-fields .form-inner::before {
  left: 30px;
  right: auto;
}
body.rtl #back-footer .back-footer-top .recent-post-widget .post-item .post-date {
  margin-left: 15px;
  margin-right: 0;
}
body.rtl #back-footer .widget ul li {
  text-align: right;
}
body.rtl #back-footer .widget ul li:before {
  right: 0;
  left: auto;
}
body.rtl #back-footer .back-footer-top ul#menu-footer-menu li {
  padding: 4px 14px 4px 0;
}
body.rtl .toolbar-contact-style4 ul {
  float: left;
}
body.rtl #back-header.header-style2 .toolbar-contact-style4 ul li {
  margin-right: 25px;
}
body.rtl #back-header.header-style2 .sticky_search {
  text-align: left;
}
body.rtl .toolbar-contact-style4 ul li .contact-inf {
  float: right;
  text-align: right;
  margin: 0;
}
body.rtl .toolbar-contact-style4 ul li .contact-inf span {
  text-align: right;
}
body.rtl .toolbar-contact-style4 ul li i {
  float: right;
}
body.rtl #back-header.header-style2 .sticky_form {
  right: auto;
  left: 15px;
}
body.rtl #back-header .bs-search button {
  left: 0;
  right: auto;
}
body.rtl #back-header.header-style2 .back-menu-responsive {
  padding-right: 25px;
}
body.rtl .back-services-style1.icon-left .services-icon {
  margin-left: 20px;
  margin-right: 0;
}
body.rtl .back-services-style1.icon-left .services-desc,
body.rtl .back-services-style1.icon-left .services-desc .services-title,
body.rtl #about-us .back-heading {
  text-align: right;
}
body.rtl .bs-sidebar.dynamic-sidebar .service-singles .menu li a::before {
  right: auto;
  transform: rotate(180deg);
  left: 12px;
}
body.rtl .back-heading.style4 {
  text-align: right;
}
body.rtl .back-heading.style4 .view-more {
  text-align: left;
}
body.rtl #cl-testimonial .testimonial-slide3 i {
  right: 0;
}
body.rtl .back-heading.center .description {
  max-width: 100%;
}
body.rtl .back-portfolio-style2 .portfolio-item .portfolio-content .p-title {
  right: 25px;
  left: auto;
}
body.rtl .back-porfolio-details .ps-informations ul {
  text-align: right;
}
body.rtl #cl-testimonial .testimonial-slide2.slider2 .image-testimonial .testimonial-content h4 {
  text-align: right !important;
}
body.rtl .back-events .event-item .event-meta .event-time {
  margin-left: 10px;
  margin-right: 0;
}
body.rtl .back-latest-news .news-list-block .news-list-item .news-date i {
  margin-left: 4px;
  margin-right: 0;
}
body.rtl #back-header.header-styl-3 .sticky_search {
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 0;
  margin-left: 0;
  border-right: 1px solid #ccc;
  border-left: 0;
}
body.rtl #back-header.header-styl-3 .sticky_form {
  left: 0;
  right: auto;
}
body.rtl #back-header.header-styl-3 .has-quote-text {
  text-align: left;
}
body.rtl .responsive-two-col .back-heading.style5 {
  text-align: right;
}
body.rtl .responsive-two-col .back-heading.style5 .description {
  text-align: right;
}
body.rtl .back-testimonial-home .back-heading.style5 {
  text-align: right;
}
body.rtl .back-testimonial-home .back-heading.style5 .description {
  text-align: right;
}
body.rtl .about3 .wpb_column,
body.rtl .back-about1 .wpb_column {
  text-align: right;
}
body.rtl .about3 .back-heading.style2 h2::after,
body.rtl .back-about1 .back-heading.style2 h2::after {
  right: 0;
  left: auto;
}
body.rtl #back-acheivements .back-heading.style1::after {
  right: 0;
  left: 0;
  margin: 0 auto;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
body.rtl #back-acheivements .back-heading.style1 {
  text-align: center;
}
body.rtl .home4-post .wpb_wrapper {
  text-align: right;
}
body.rtl .home4-post .back-heading.style1::after {
  right: 0;
  left: auto;
}
body.rtl .home4-post .latest-news-slider .slick-arrow {
  left: -104px;
  right: auto;
}
body.rtl .home4-post .latest-news-slider .slick-arrow.slick-next {
  left: -160px;
}
body.rtl #back-home-video.back-acheivements::after {
  right: -128px;
  left: auto;
}
body.rtl .about-tabs vc_col-sm-8 {
  float: right;
}
body.rtl .about-tabs .wpb_wrapper {
  text-align: right;
}
body.rtl .back-latest-news.style2 .slick-arrow.slick-next {
  left: -65px;
  right: auto;
}
body.rtl .back-latest-news.style2 .slick-arrow {
  left: -10px;
  right: auto;
}
body.rtl .bs-sidebar.dynamic-sidebar {
  text-align: right;
}
body.rtl .back-blog-grid .back-blog-item .back-avatar-image img {
  margin-left: 10px;
  margin-right: 0;
}
body.rtl .bs-sidebar .bs-search button {
  left: 28px;
  right: auto;
}
body.rtl .bs-sidebar .widget_search input,
body.rtl .bs-sidebar .bs-search input {
  padding-left: 50px;
}
body.rtl .widget ul li::before {
  right: 0;
  left: auto;
  transform: rotate(180deg);
}
body.rtl .bs-sidebar .widget_categories li {
  padding: 5px 15px 5px 0 !important;
}
body.rtl .bs-sidebar .recent-post-widget .show-featured .post-img {
  padding-left: 15px;
  padding-right: 0;
}
body.rtl .full-blog-content .blog-button {
  float: right;
}
body.rtl.search .entry-summary .blog-button a,
body.rtl .back-blog .blog-item .blog-button a {
  padding-left: 24px;
  padding-right: 0px;
}
body.rtl.search .entry-summary .blog-button a::before,
body.rtl .back-blog .blog-item .blog-button a:before {
  left: 0;
  right: auto;
  transform: rotate(180deg);
  top: 0;
}
body.rtl.search .entry-summary .blog-button {
  display: flex;
}
body.rtl.search .page-content .bs-search button {
  left: 0;
  right: auto;
}
body.rtl .back-blog .blog-item .blog-full-area .full-blog-content,
body.rtl .back-blog-grid .blog-item .full-blog-content,
body.rtl .back-blog-details .bs-desc {
  text-align: right;
}
body.rtl .back-blog-grid .blog-item .full-blog-content {
  margin-top: 15px;
}
body.rtl .back-footer ul.footer_social li:last-child {
  margin-right: 7px !important;
}
body.rtl .comments-area .comment-list li.comment .comment-body {
  padding-right: 98px;
  padding-left: 0px;
}
body.rtl .back-blog-details .author-block .author-img {
  float: right;
  padding-left: 30px;
  padding-right: 0;
}
body.rtl .back-blog-details .author-block .author-desc {
  text-align: right;
}
body.rtl .comments-area .comment-list li.comment .comment-author img {
  right: 0;
  left: auto;
}
body.rtl .comments-area .comment-list li.comment .comment-author b {
  float: right;
  padding-left: 14px;
  padding-right: 0;
}
body.rtl .btm-cate li {
  float: right;
  margin-left: 25px;
  margin-right: 0;
}
body.rtl .pagination-area .nav-links > :first-child {
  border-radius: 0 20px 20px 0px;
}
body.rtl .pagination-area .nav-links > :last-child {
  border-radius: 20px 0 0 20px;
}
body.rtl .back-blog-details .meta-info-wrap .tag-line a {
  margin-right: 8px;
  margin-left: 0;
}
body.rtl .ps-navigation ul .next i {
  float: right;
  margin-top: 5px;
}
body.rtl .comments-area .comment-list,
body.rtl .comment-form,
body.rtl .back-blog-details #reply-title {
  text-align: right;
}
body.rtl .comments-area .comment-list li.comment .comment-content {
  margin-right: 0px;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0px;
}
body.rtl .comments-area .comment-list li.comment .reply {
  text-align: right;
}
body.rtl .comments-area .comment-list li.comment .comment-author img {
  margin-left: 15px;
  margin-right: 0;
}
body.rtl .back-blog-details .ps-navigation ul {
  display: flex;
  justify-content: space-between;
}
body.rtl.single .ps-navigation .next .next_link {
  text-align: left;
}
body.rtl .ps-navigation ul .prev {
  text-align: right;
}
body.rtl .comments-area .comment-list li.comment .reply a {
  margin-right: 0px;
  margin-left: 0;
}
body.rtl #scrollUp {
  left: 30px;
  right: auto;
}
body.rtl #content div.product div.summary,
body.rtl div.product div.summary,
body.rtl .cart_totals h2,
body.rtl #content div.product div.summary,
body.rtl div.product div.summary,
body.rtl .woocommerce-tabs,
body.rtl h3#order_review_heading,
body.rtl .woocommerce form .form-row label,
body.rtl .woocommerce form .form-row .select2-container,
body.rtl .woocommerce-billing-fields,
body.rtl .woocommerce-additional-fields,
body.rtl .woocommerce-info,
body.rtl form.login,
body.rtl .entry-content .woocommerce h2 {
  text-align: right;
}
body.rtl .woocommerce .cart-collaterals .cart_totals,
body.rtl .woocommerce-page .cart-collaterals .cart_totals {
  float: right;
}
body.rtl .woocommerce-error::before,
body.rtl .woocommerce-info::before,
body.rtl .woocommerce-message::before {
  left: 1.5em;
  right: auto;
}
body.rtl #payment #place_order,
body.rtl #payment #place_order {
  float: right;
}
body.rtl .woocommerce-form-login .woocommerce-Button {
  margin-left: 12px !important;
  margin-right: 0 !important;
}
body.rtl .back-breadcrumbs ul li.trail-end {
  padding-right: 8px;
  padding-left: 0;
}
body.rtl #cl-testimonial p {
  text-align: right;
}
body.rtl #cl-testimonial .testimonial-content .image-testimonial {
  float: left;
}
body.rtl .single-testimonial .testimonial-left {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
body.rtl .cl-testimonial5 .image-testimonial .testimonial-content ul {
  padding: 10px 0px 0 0px !important;
}
body.rtl #cl-testimonial .cl-col-2 {
  float: right;
}
body.rtl .testimonial-boxshadow #cl-testimonial ul {
  text-align: right;
}
body.rtl #back-header .logo-area {
  margin-right: 0;
}
body.rtl #back-header .back-quote {
  margin-left: 0;
  margin-right: 25px;
}
@media screen and (max-width: 991px) {
  body.rtl .mobile-menu-link {
    left: 0;
    right: auto;
  }
  body.rtl .sidebarmenu-area.back-mobile-hamburger {
    margin-right: 25px;
  }
  body.rtl #back-header.header-transparent .menu-cart-area {
    margin-left: 50px;
    margin-right: 0;
  }
  body.rtl #back-header.header-transparent .sidenav.nav-active-menu-container li.nav-link-container .nav-menu-link {
    padding: 13px 10px 15px 10px !important;
  }
  body.rtl #mobile_menu .submenu-button::before,
  body.rtl #mobile_menu .submenu-button.submenu-opened::after {
    right: auto;
    left: 0;
  }
  body.rtl #mobile_menu .submenu-button {
    right: auto;
    left: 0;
  }
  body.rtl #back-footer .widget {
    text-align: right;
  }
  body.rtl #back-footer .widget .newsletter-title p {
    text-align: center;
  }
  body.rtl #back-footer .widget p {
    text-align: right;
  }
  body.rtl .sidenav .offcanvas_social li a {
    margin-left: 0;
    margin-right: 12px;
    padding: 0;
  }
  body.rtl .mobile-menu-container div ul li a {
    text-align: right;
  }
  body.rtl ul.sidenav .menu > li.menu-item-has-children::before {
    left: 14px;
    right: auto;
  }
  body.rtl .mobile-menu-container div ul {
    padding: 25px 0;
  }
}
@media screen and (max-width: 767px) {
  body.rtl .back-heading.style4 .view-more {
    text-align: right;
  }
  body.rtl .ps-image {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 590px) {
  body.rtl #back-header.style1 .menu-area .back-menu-responsive {
    left: 70px;
    right: auto;
  }
}
